{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet"
    href="{% static 'css/auth.css' %}">
</head>

<body>

<div class="form-container">

    <h2>Create Account</h2>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Register
        </button>

    </form>

    <p>
        Already have an account?

        <a href="{% url 'login' %}">
            Login
        </a>
    </p>

</div>

</body>
</html>